<div class="card p-3 m-0 shadow border-0">
    <h1 class="text-center titreDash fw-bold mb-4">Liste des bailleurs</h1>


    <div class="contentPorteur">
        <div class="search">
            <div class="input-group w-25 mb-3">
                <input type="text" class="form-control inputPorteur" placeholder="Chercher un porteur de projet">
                <span class="input-group-text iconsearch" id="basic-addon1"><i class="bi bi-search"></i></span>
            </div>
        </div>

        <!-- table des bailleurs -->
        <div class="table-responsive table-data container-fluid" id="container-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Organisme</th>
                        <th scope="col">Objectif</th>
                        <th scope="col">Description</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bailleur of ListeBailleurs" class="ligne-table">
                        <td class="tableInfo"> <img class="img-fluid profilPorteur" [src]=bailleur.image alt=""></td>
                        <td class="tableInfo">{{bailleur.name }}</td>
                        <td class="tableInfo">{{bailleur.email }}</td>
                        <td class="tableInfo">{{bailleur.organisme}}</td>
                        <td class="tableInfo">{{bailleur.objectif}} </td>
                        <td class="tableInfo">{{bailleur.description}} </td>
                        <td class="tableInfo">{{bailleur.telephone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pagin d-flex justify-content-center my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>









<!-- Modal detail bailleur -->
<div class="modal fade" id="detailBailleur" tabindex="-1" aria-labelledby="detailBailleurLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end border-0">
                <button type="button" class="btn btnCloseBail" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="headBailleur d-flex row px-4">
                    <div class="profilBailleur col-12 col-md-3 p-0">
                        <div class="rect rect1"></div>
                        <img class="imgBailleur img-fluid h-100" src="../../../assets/images/bailleur.jpg" alt="">
                        <div class="rect rect2"></div>
                    </div>
                    <div class="coordsBailleur col-12 col-md-9 px-5">
                        <h2 class="fw-bold nomBail">Alpha Diallo</h2>
                        <div class="detaiBailleur">
                            <h4 class="fw-bold coords">Coordonnées:</h4>
                            <p><i class="bi bi-envelope-fill"></i> alpha@gmail.com</p>
                            <p><i class="bi bi-telephone-fill"></i> 78 345 76 65</p>
                        </div>
                        <div class="sociaux">
                            <div class="iconSociaux d-flex justify-content-end">
                                <span class="me-2"><i class="bi bi-facebook"></i></span>
                                <span><i class="bi bi-whatsapp"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="biography">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Accusamus, consectetur cum labore a dignissimos saepe pariatur aut fugit, iusto aliquam doloremque amet. 
                        Veritatis dolor voluptatem eius ea, impedit harum deserunt!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus, consectetur cum labore a dignissimos saepe pariatur aut fugit, iusto aliquam doloremque amet.
                    </p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btnBailleurClose text-white px-3" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>