<h3 class="titreDash text-center fw-bold fs-2 my-4">liste des abonnées à la newsletter</h3>

<!-- table des bailleurs -->
<div class="table-responsive table-data container-fluid" id="container-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newsletter of listeNewsletters" class="ligne-table">
                <td class="tableInfo">{{newsletter.email}} </td>
                <td class="tableInfo">Supprimer</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagin d-flex justify-content-center my-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>





<!-- Modal Send mail -->
<div class="modal fade" id="sendMail" tabindex="-1" aria-labelledby="sendMailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title w-100 fs-5 fw-bold text-center" id="sendMailLabel">Newsletter</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="libelle" class="col-form-label">Libellé:</label>
                        <input type="text" class="form-control border border-danger" id="libelle" placeholder="Libellé de la newsletter">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" rows="10" placeholder="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <!-- data-bs-dismiss="modal" -->
                <button type="button" class="btn btnEnvoi fw-bold">Envoyer</button>
                <button type="button" class="btn btnAnnuler fw-bold">Annuler</button>
            </div>
        </div>
    </div>
</div>